
<div id="BasicCard">
        <div class="teams-container">
            <div class="team red-team">
                <p class="team-name">Red Team</p>
                <div class="team-images">
                    <!-- Add team images or other related data if needed -->
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Red Team Player">
                </div>
            </div>

            <div class="scores">
                <p class="red-score">@Match.TeamAScore</p>
                <p class="blue-score">@Match.TeamBScore</p>
            </div>

            <div class="team blue-team">
                <p class="team-name">Blue Team</p>
                <div class="team-images">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Blue Team Player">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Blue Team Player">
                </div>
            </div>
        </div>

        <div class="match-details">
            <p>Ranked Match: @(Match.Ranked ? "Yes" : "No")</p>
            <p>Elo Change: @Match.EloChange</p>
            <p>Date: @DateTimeOffset.FromUnixTimeSeconds(Match.Date).DateTime.ToString("dd MMM yyyy")</p>
        </div>
</div>

@code {
    
    
}